<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @bug.nome %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @bug.descricao %>
</p>

<p>
  <strong>Solucao:</strong>
  <%= @bug.solucao %>
</p>

<p>
  <strong>Projeto:</strong>
  <%= @bug.projeto.nome %>
</p>

<%= link_to 'Edit', edit_bug_path(@bug) %> |
<%= link_to 'Back', bugs_path %>
