
<div class="row">
<div class="col-12">
<div class="menu-vertical">
  <% if user_signed_in? %>
	<ul>
    <li> <%= link_to 'Início', root_url %> </li>
    <li> <%= link_to 'Projetos', projetos_path %> </li>
    <li> <%= link_to 'Bugs', bugs_path %> </li>
    <li> <%= link_to 'Sair', sair_path, method: :delete %> </li>
  </ul>

<% else %>
	<ul>
    <li> <%= link_to 'Início', root_url %> </li>
    <li> <%= link_to 'Projetos', projetos_path %> </li>
    <li> <%= link_to 'Bugs', bugs_path %> </li>
    <li> <%= link_to 'Entrar', entrar_path %> </li>
  </ul>
<% end %>
  </div>
</div>
</div>

